/*****************************************************************************/
/* print.css                                                                 */
/* =========                                                                 */
/* printing styles                                                           */
/*  AUTHOR: Song Ho Ahn (song.ahn@gmail.com)                                 */
/* CREATED: 2005-07-26                                                       */
/* UPDATED: 2012-06-13                                                       */
/*****************************************************************************/

body {
	margin:5pt;
	padding:0;
	font:80% arial, helvetica, sans-serif;
	color:black;
	background-color:white;
}
p {
	margin-top:0;
}
h1 {
	color:#666;
	text-align:center;
	background-color:white;
}
h3 {
	border-top:5px solid #999;
	padding:0;
	margin:30px 0 0 0;
	color:#666;
	background-color:white;
}
h4 {
	border-top:1px solid #999;
	padding:0;
	margin:30px 0 0 30px;
	color:#666;
	background-color:white;
}
img {
	border:0;
	padding:0;
	margin:0;
}
pre {
	white-space:pre;
	font-family:monospace,monospace;
	font-size:1em;
}

.codeblock {
	display:block;
	border:1px solid #999;
	background-color:#f8f8f8;
	margin:10px 0px;
	padding:0 10px;
	line-height:120%;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}

.comment {
	color:#aaa;
	/*background-color:#f8f8f8;*/
	/*font-style:italic;*/
}

.code
{
	display:block;
	border:1px solid #999;
	background-color:#f8f8f8;
	margin:10px 0px;
	padding:0 10px;
	color:black;
	font-family:monospace,monospace;
	font-size:1em;
	white-space:pre;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}

/* image map */
.mapblock {
	position:relative;
}
.mapoverlay {
	position:absolute;
	z-index:100;
}
.mapregion {
	position:absolute;
	top:0;
	left:0;
	display:none;
	z-index:99;
}
.mapbg {
	position:absolute;
	top:0;
	left:0;
	z-index:98;
}

/* caption */
.caption {
	font:70% arial, helvetica, sans-serif;
	text-align:center;
	color:#666;
	background-color:white;
}

/* default color of body text and its background */
.font_sansserif { font-family:sans-serif; }
.font_serif { font-family:serif; }

/* text alignments */
.center { text-align:center; }
.right { text-align:right; }

/* links */
a { background-color:white; border:0; }
a:link { color:blue; }
a:visited { color:purple; }
a:hover { color:red; }
a:active { color:red; }

/* index page link stuff */
.link {
	margin:0;
	padding:0;
}
.link a {
	display:block;
	color:black;
	background-color:white;
	padding:0.2em;
	text-decoration:none;
}
.link a:hover {
	color:black;
	background-color:#eee;
}

/* table attributes */
table, td, th
{
	border-color:#999;
	border-style:solid;
}
table
{
	border-width:0 0 1px 1px;
	border-spacing:0;
	border-collapse:collapse;
}
td, th
{
	border-width:1px 1px 0 0;
	margin:0;
	padding:2px;
}

/* main index page */
#centerblock
{
	position:relative;
	width:650px;
	height:100%;
	margin:auto auto;
	margin-top:2em;
	text-align:left;
}
#welcomeblock
{
	position:absolute;
	width:430px;
	height:210px;
	text-align:right;
}
#quoteblock
{
	position:absolute;
	width:430px;
	height:100px;
	text-align:right;
}
.square, .squarehome {
	position:absolute;
	width:100px;
	height:100px;
	overflow:hidden;
	border:1px solid #666;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}
.square a, .squarehome a {
	display:block;
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	color:#999;
	font:80% verdana, arial, helvetica, sans-serif;
	background-color:#eee;
	text-decoration:none;
	overflow:hidden;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}
.square span, .squarehome span {
	display: block;
	text-align:center;
	margin-top:80px;
}
.square a:link, .squarehome a:link {
	background-color:#eee;
	color:#999;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}
.square a:visited, .squarehome a:visited{
	background-color: #eee;
	color:#999;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}
.square a:hover {
	background-color:#ccc;
	color:#333;
}
.squarehome a:hover {
	background:#ccc url("../files/songho.png") no-repeat top right;
	color:#333;
}
