/*****************************************************************************/
/* screen.css                                                                */
/* ==========                                                                */
/* scree styles                                                              */
/*  AUTHOR: Song Ho Ahn (song.ahn@gmail.com)                                 */
/* CREATED: 2005-07-26                                                       */
/* UPDATED: 2012-06-13                                                       */
/*****************************************************************************/

body {
	margin:0;
	padding:0;
	font:100% arial, helvetica, sans-serif;
	color:black;
	background-color:white;
}
p {
	margin-top:0;
}
h1 {
	color:#666;
	text-align:center;
	background-color:white;
}
h3 {
	border-top:5px solid #999;
	margin:30px 0 0 0;
	padding:0;
	color:#666;
	background-color:white;
}
h4 {
	border-top:1px solid #999;
	margin:30px 0 0 30px;
	padding:0;
	color:#666;
	background-color:white;
}
img {
	border:0;
	padding:0;
	margin:0;
}

.code {
	display:block;
	border:1px solid #999;
	background-color:#f8f8f8;
	margin:10px 0px;
	padding:0 10px;
	color:black;
	font-family:monospace,monospace;
	font-size:1em;
	white-space:pre;
	line-height:120%;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}

.codeblock {
	display:block;
	border:1px solid #999;
	background-color:#f8f8f8;
	margin:10px 0px;
	padding:0 10px;
	line-height:120%;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}

.comment {
	color:#aaa;
	/*background-color:#f8f8f8;*/
	/*font-style:italic;*/
}

/* caption */
.caption {
	font:80% arial, helvetica, sans-serif;
	text-align:center;
	color:#666;
	background-color:white;
}

#rootblock {
	width:70em;
	margin:0;
	padding-top:0px;
	border:1px solid #999;
}

#disqus_thread {
	float:left;
	background:#999;
}

#contentblock
{
	width:45em;
	margin:10px 10px 10px 30px;
	padding-top:0px;
	line-height:130%;
	float:left;
}

#footer {
	font-style:normal;
	border-top:1px solid #999;
	font-size:80%;
	padding-top:5px;
	line-height:110%;
}

/* image map */
.mapblock {
	position:relative;
}
.mapoverlay {
	position:absolute;
	z-index:100;
}
.mapregion {
	position:absolute;
	top:0;
	left:0;
	display:none;
	z-index:99;
}
.mapbg {
	position:absolute;
	top:0;
	left:0;
	z-index:98;
}

/* default color of body text and its background */
.font_sansserif { font-family:sans-serif; }
.font_serif { font-family:serif; }

/* text alignments */
.center { text-align:center; }
.right { text-align:right; }


/* links */
a { border:0; background-color:white; }
a:link { color:blue; }
a:visited { color:purple; }
a:active { color:blue; }
a:hover { color:red; }

/* navlink stuff */
.link {
	margin:0;
	padding:0;
}
.link a {
	display:block;
	color:black;
	background-color:white;
	padding:0.2em;
	text-decoration:none;
}
.link a:hover {
	color:black;
	background-color:#eee;
	border:0;
}

/* table attributes */
table, td, th
{
	border-color:#999;
	border-style:solid;
}
table
{
	border-width:0 0 1px 1px;
	border-spacing:0;
	border-collapse:collapse;
}
td, th
{
	border-width:1px 1px 0 0;
	margin:0;
	padding:2px;
}

/* main index page */
#centerblock
{
	position:relative;
	width:650px;
	height:100%;
	margin:auto;
	margin-top:2em;
	text-align:left;
}
#welcomeblock
{
	position:absolute;
	width:430px;
	height:210px;
	text-align:right;
}
#quoteblock
{
	position:absolute;
	width:430px;
	height:100px;
	text-align:right;
}
.square, .squarehome {
	position:absolute;
	width:100px;
	height:100px;
	overflow:hidden;
	border:1px solid #666;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}
.square a, .squarehome a {
	display:block;
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	color:#999;
	font-size:80%;
	background-color:#eee;
	text-decoration:none;
	font-family:verdana, arial, helvetica, sans-serif;;
	overflow:hidden;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}
.square span, .squarehome span {
	display:block;
	text-align:center;
	margin-top:80px;
}
.square a:link, .squarehome a:link {
	background-color:#eee;
	color:#999;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}
.square a:visited, .squarehome a:visited {
	background-color:#eee;
	color:#999;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}
.square a:hover {
	background-color:#ccc;
	color:#333;
}
.squarehome a:hover {
	background:#ccc url("../files/songho.png") no-repeat top right;
	color:#333;
}

/*===== css3 =====*/
.shadow {
	-moz-box-shadow: 0px 0px 10px #888;
	-webkit-box-shadow: 0px 0px 10px #888;
	box-shadow: 0px 0px 10px #888;
}

.crossfade {
	position:relative;
}
.crossfade img {
	position:absolute;
	left:0;
}
@-webkit-keyframes key_crossfade {
	0%   { opacity:1; }
	45%  { opacity:1; }
	55%  { opacity:0; }
	100% { opacity:0; }
}
@-moz-keyframes key_crossfade {
	0%   { opacity:1; }
	45%  { opacity:1; }
	55%  { opacity:0; }
	100% { opacity:0; }
}
@-ms-keyframes key_crossfade {
	0%   { opacity:1; }
	45%  { opacity:1; }
	55%  { opacity:0; }
	100% { opacity:0; }
}
@keyframes key_crossfade {
	0%   { opacity:1; }
	45%  { opacity:1; }
	55%  { opacity:0; }
	100% { opacity:0; }
}
.crossfade img.top {
	-webkit-animation-name: key_crossfade;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration: 10s;
	-webkit-animation-direction: alternate;

	-moz-animation-name: key_crossfade;
	-moz-animation-timing-function: ease-in-out;
	-moz-animation-iteration-count: infinite;
	-moz-animation-duration: 10s;
	-moz-animation-direction: alternate;

	-ms-animation-name: key_crossfade;
	-ms-animation-timing-function: ease-in-out;
	-ms-animation-iteration-count: infinite;
	-ms-animation-duration: 10s;
	-ms-animation-direction: alternate;

	animation-name: key_crossfade;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-duration: 10s;
	animation-direction: alternate;
}